@media (max-width: 991px) {

  .just-text {
    font-size: 22px;
    line-height: 1.37;
  }

  .service-inc {
    padding-top: 5px;
    font-size: 24px;

    &__item {
      border-bottom: none;
    }
  }
}