@media (min-width: 992px) {

  .bg-lg-gray {
    background-color: #f6f7f9;
  }
}

@media (max-width: 991px) {

  .just-text {
    font-size: 22px;
    line-height: 1.37;
  }

  .service {
    padding: 50px 0 0;

    &__title {
      
      .fa {
        display: none;
      }
    }

    .container {
      padding-bottom: 40px;
      border-bottom: 1px solid #ededed;
    }
  }

  .service-inc {
    padding: 5px 0 30px;
    font-size: 24px;

    &__item {
      border-bottom: none;
      padding: 8px 0;

      &--caption {
        display: none;
      }
    }
  }

  .logos {
    padding-top: 0;
  }

  .btn {
    font-size: 20px;
    max-width: 100%;
  }

  .btn-all {
    width: 464px;
    min-width: initial;
  }

  .btn_width_190 {
    width: 250px;
    min-width: initial;
  }

  .work-box__view {
    display: none;
  }

  .work-box__image:hover img {
    transform: none;
  }
}

@media (max-width: 500px) {
  .btn_width_190 {
    padding: 1rem 5px;
    width: 10rem;
  }
}