@media (max-width: 991px) {

  .just-text {
    font-size: 22px;
    line-height: 1.37;
  }

  .service-inc {
    padding: 5px 0 30px;
    font-size: 24px;

    &__item {
      border-bottom: none;
      padding: 8px 0;

      &--caption {
        display: none;
      }
    }
  }
}