.service-inc {
  font-size: 19px;
  color: #090909;

  &__item {
    border-bottom: 1px solid #ccc;
    padding: 17px 5px;

    &--caption {
      font-size: 21px;
      font-weight: 700;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

