footer.footer
	.footer-top
		.container
			.footer-top__content
				.row
					.col-md-5
						.footer-widget.footer-widget_partner
							h3.footer-widget__title
								| Partner with us
							.footer-widget__text
								p
									| We partner with forward thinking corporate & niche businesses of any size and complexity, 
									| striving for unparalleled results that deliver increased value time and time again.

							a(href="#").btn.btn-outline-white.footer-widget__btn
								| Let’s Talk



					.col-md-7
						.row
							.col-md-6
								.footer-widget

									h3.footer-widget__title
										| Our Services

									ul.footer-widget__menu
										li
											a(href="#") Strategy & Consultation
										li
											a(href="#") eCommerce
										li
											a(href="#") Design & Build
										li
											a(href="#") Digital Performance Marketing
										li
											a(href="#") Optimisation & Management
										li
											a(href="#") Data & Intelligence

							.col-md-6
								.footer-widget
									h3.footer-widget__title
										| Contact Us
									ul.footer-contact
										li.footer-contact__item
											i.icon.fa.fa-phone
											span.footer-contact__text
												a(href="tel:0800 267 894") 0800 267 894
										li.footer-contact__item
											i.icon.fa.fa-envelope-o
											span.footer-contact__text
												a(href="mailto:hello@foundry.nz") hello@foundry.nz
										li.footer-contact__item
											i.icon.fa.fa-map-marker
											span.footer-contact__text
												| 12 Madden Street, Wynyard Quarter Auckland 1010

	.footer-bottom
		.container
			.footer-bottom__inner
				p
					| © 2019 Foundry Digital Limited. All rights reserved.
				ul.footer-bottom__nav
					li
						a(href="#") Terms & Conditions
					li
						a(href="#") Privacy
					li
						a(href="#") Sitemap