

header.header.header-fixed.site-header
	.container
		nav.header__content
			.header__left
				.logo
					a(href="/")
						img(src="images/logo.png", alt="").default-logo
						img(src="images/foundry-logo-blk.png", alt="").sticky-logo
			.header__right
				ul.header-toolbar
					li
						
					li
						
					li
						

				ul.main-menu
					li
						a(href="") Home
					li
						a(href="") Services
					li
						a(href="") Work
					li
						a(href="") About
					li
						a(href="") Contact

