.main-menu-mob
	.main-menu__logo
		img(src="images/foundry-logo-blk.png", alt="")
	ul.main-menu-mob-list
		li
			a(href="") Home
		li
			a(href="") Services
		li
			a(href="") Work
		li
			a(href="") About
		li
			a(href="") Contact

header.header.header-fixed.site-header
	.container
		nav.header__content
			.header__left
				.logo
					a(href="/")
						img(src="images/logo.png", alt="").default-logo
						img(src="images/foundry-logo-blk.png", alt="").sticky-logo
			.header__right
				ul.header-toolbar
					li.header-toolbar__tel
						a(href="tel:0800 267 894")
							i.icon.fa.fa-phone
					li.header-toolbar__location
						a(href="#")
							i.icon.fa.fa-map-marker
					li
						button.navbar-toggler
							span
							span
							span
				ul.main-menu
					li
						a(href="") Home
					li
						a(href="") Services
					li
						a(href="") Work
					li
						a(href="") About
					li
						a(href="") Contact

