extends pug/base

append vars
	-
		var body = {
			classList: ["main-page"]
		}

		var works = new Array(4)


block content
	.main-wrap
		//- .site__layer
		include pug/header
		.hero
			.container
					h1.hero__title
						| &nbsp;
						span.typer(data-typer-targets="We drive business growth,Create customer first success strategies,Drive business growth,Deliver successful business outcomes")
					.lead.hero__desc
						p
							| through innovative digital solutions & experiences.
					
					ul.hero__btns.btn-list
						li.btn-list__item
							a(href="#").btn.btn_width_190.btn-outline-white
								| View Work
						li.btn-list__item
							a(href="#").btn.btn_width_190.btn-primary
								| View Services
			.hero__shape
				img(src="images/bg/hero-wawe_bg.png", alt="")
		.services.main_services
			.container
				h2.title.text-lg.services__title
					| Our Services
				.services-grid
					.row.services-grid__row
						.col-lg-6.services-grid__col
							.service-box
								.service-box__icon
									i.icon.fa.fa-star-o
								.service-box__info
									h3.text-md.service-box__title
										| Strategy & Consultation
									p
										| Digital Strategy / Solution Architecture / Customer Experience Strategy

						.col-lg-6.services-grid__col
							.service-box
								.service-box__icon
									i.icon.fa.fa-television
								.service-box__info
									h3.text-md.service-box__title
										| Design & Build
									p
										| UX / UI Design / Development / CMS Delivery / Mobile App Development

						.col-lg-6.services-grid__col
							.service-box
								.service-box__icon
									i.icon.fa.fa-credit-card
								.service-box__info
									h3.text-md.service-box__title
										| eCommerce
									p
										| Build / Migrations & Upgrades / Integrations / CRO / Automation

						.col-lg-6.services-grid__col
							.service-box
								.service-box__icon
									i.icon.fa.fa-refresh
								.service-box__info
									h3.text-md.service-box__title
										| Digital Performance Marketing
									p
										| Campaign Strategy & Management / SEM / SEO

						.col-lg-6.services-grid__col
							.service-box
								.service-box__icon
									i.icon.fa.fa-cog
								.service-box__info
									h3.text-md.service-box__title
										| Optimisation & Management
									p
										| CRO / Performance Optimisation / Hosting / Training / Support

						.col-lg-6.services-grid__col
							.service-box
								.service-box__icon
									i.icon.fa.fa-bar-chart
								.service-box__info
									h3.text-md.service-box__title
										| Data & Intelligence
									p
										| Custom Reporting & Analysis / Automation

				
				.text-center
					a(href="#").btn.btn-outline-black.btn-all.services__btn.btn_width_300
						| View All Services


		.work.main_work
			.container
				h2.title.text-lg.work__title
					| Our Work

				.work-grid
					.row.work-grid__row
						each work in works
							.col-md-6.work-grid__col
								.work-box
									.work-box__image
										img(src="images/work.jpg", alt="")
										a(href="#").work-box__view
											span.btn.btn_width_190.btn-outline-white
												| View Project
									h3.text-md.work-box__title
										a(href="#")
											| Proviz Sports

				.text-center
					a(href="#").btn.btn-outline-black.btn-all.services__btn.btn_width_300
						| View All Work




		.help-feedback
			.container
				.help-feedback__inner
					h3.help-feedback__title.lead
						| Let us help you reach your business goals
					p.help-feedback__subtitle
						| Arrange a no obligation meeting or call today
					form(action="#").help-feedback-form
						.row
							.col-md-6
								input.form-control(type="text", placeholder="Your Name*")
							.col-md-6
								input.form-control(type="text", placeholder="Your Email*")
							.col-md-6
								input.form-control(type="text", placeholder="Phone Number")
							.col-md-6
								input.form-control(type="text", placeholder="Company name")

						.text-center
							button.btn.btn-outline-white.btn-all.help-feedback-form__btn.btn_width_300
								| Let’s Talk


		footer.footer
			.footer-top
				.container
					.footer-top__content
						.row
							.col-md-5
								.footer-widget.footer-widget_partner
									h3.footer-widget__title
										| Partner with us
									.footer-widget__text
										p
											| We partner with forward thinking corporate & niche businesses of any size and complexity, 
											| striving for unparalleled results that deliver increased value time and time again.

									a(href="#").btn.btn-outline-white.footer-widget__btn
										| Let’s Talk



							.col-md-7
								.row
									.col-md-6
										.footer-widget

											h3.footer-widget__title
												| Our Services

											ul.footer-widget__menu
												li
													a(href="#") Strategy & Consultation
												li
													a(href="#") eCommerce
												li
													a(href="#") Design & Build
												li
													a(href="#") Digital Performance Marketing
												li
													a(href="#") Optimisation & Management
												li
													a(href="#") Data & Intelligence

									.col-md-6
										.footer-widget
											h3.footer-widget__title
												| Contact Us
											ul.footer-contact
												li.footer-contact__item
													i.icon.fa.fa-phone
													span.footer-contact__text
														a(href="tel:0800 267 894") 0800 267 894
												li.footer-contact__item
													i.icon.fa.fa-envelope-o
													span.footer-contact__text
														a(href="mailto:hello@foundry.nz") hello@foundry.nz
												li.footer-contact__item
													i.icon.fa.fa-map-marker
													span.footer-contact__text
														| 12 Madden Street, Wynyard Quarter Auckland 1010

			.footer-bottom
				.container
					.footer-bottom__inner
						p
							| © 2019 Foundry Digital Limited. All rights reserved.
						ul.footer-bottom__nav
							li
								a(href="#") Terms & Conditions
							li
								a(href="#") Privacy
							li
								a(href="#") Sitemap
		include pug/footer    