extends pug/base

append vars
	-
		var body = {
			classList: ["main-page"]
		}
		var works = new Array(6)

block content
	.main-wrap
		.site__layer


		include pug/header
		.hero.page-header
			.container
				h1.page-header__title
					| Our Work
				.page-header__text
					p
						| A sample of some of our recent projects
			.hero__shape
				img(src="images/bg/page-header_wawe.png", alt="").hero__shape__default
				img(src="images/bg/page-header_wawe-mob.png", alt="").hero__shape__mob

				

		main.main-container
			.container
				include pug/breadcrumbs

			.work.our_work-page
				.container
					.work-grid 
						.row.work-grid__row
							each work in works
								.col-lg-6.work-grid__col
									.work-box
										.work-box__image
											img(src="images/work.jpg", alt="")
											a(href="#").work-box__view
												span.btn.btn_width_190.btn-outline-white
													| View Project
										.work-box__info
											h3.text-md.work-box__title
												a(href="#")
													| Proviz Sports
											.work-box__text
												p
													| Digital Strategy / Solution Architecture / Customer Experience Strategy
											a(href="#").btn.btn-outline-primary.work-box__info__view
												| View

			.help-feedback
				.container
					.help-feedback__inner

							h3.help-feedback__title.lead
								| Let us help you reach your business goals
							p.help-feedback__subtitle
								| Arrange a no obligation meeting or call today
							form(action="#").help-feedback-form
								.help-feedback__slide
									.row
										.col-md-6
											input.form-control(type="text", placeholder="Your Name*")
										.col-md-6
											input.form-control(type="text", placeholder="Your Email*")
										.col-md-6
											input.form-control(type="text", placeholder="Phone Number")
										.col-md-6
											input.form-control(type="text", placeholder="Company name")

								.text-center
									button.btn.btn-outline-white.btn-all.help-feedback-form__btn.btn_width_300
										| Let’s Talk

		

		include pug/footer    